@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Party Invites</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div>
            <div>
                We're going to have an exciting Party!!!<br/>
                (Add pictures to beautify the page...)
            </div>
            <a asp-action="RsvpForm">RSVP Here</a>
        </div>
    </body>
</html>