@model IEnumerable<PartyInvites.Models.GuestResponse>
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Who all coming</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <h2>Here is the list of people attending the party</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                @foreach(PartyInvites.Models.GuestResponse g in Model)
                {
                    <tr>
                        <td>@g.Name</td>
                        <td>@g.EmailID</td>
                        <td>@g.Mobile</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>