@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            MyIndex from Pro ASPNET CORE
        </title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div>
            Hello from Sachin Kr. Vishwakarma...!
        </div>
    </body>
</html>